@import url(reset.scss);
@import url(normalize.scss);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");

// color
$blue: #1890ff;
$blue2: #eceff6;
$base: #272e3f;
$font: #333333;
$fontSub: #b6b8bd;
$orange: #ffbe61;
$white: #ffff;
$hr: rgb(0 76 146 / 10%);

.blue {
  color: #1890ff;
}
.base {
  color: #272e3f;
}
.font {
  color: #333333;
}
.fontSub {
  color: #b6b8bd;
}
.orange {
  color: #ffbe61;
}

// font
body {
  font-family: "Noto Sans KR", "Noto Sans", "Roboto", sans-serif;
  color: $font;
  font-size: 16px;
  line-height: 27px;
}
.body {
  font-size: 16px;
  line-height: 27px;
}
.maintt1 {
  font-size: 30px;
  line-height: 65px;
}
.maintt2 {
  font-size: 40px;
  line-height: 65px;
  font-weight: 700;
}
.sec2 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}
.sec3 {
  font-size: 14px;
  line-height: 20px;
}
.sec4 {
  font-size: 24px;
  line-height: 38px;
}
.f300 {
  font-weight: 300;
}
.f400 {
  font-weight: 400;
}
.f500 {
  font-weight: 500;
}
.f600 {
  font-weight: 600;
}
.f700 {
  font-weight: 700;
}
b {
  font-weight: 700;
}
em {
  color: $blue;
  font-weight: 700;
}
// layout
.q-page-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 112px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

hr {
  max-width: 1140px;
  margin-bottom: 27px;
  border: none;
  border-bottom: 1px solid $hr;
}
// sprite
.sprite {
  background: url(../assets/img/sprite.png) no-repeat 0 0 / 392px 255px;
  display: inline-block;
  text-indent: -9999em;
  overflow: hidden;
  width: 27px;
  height: 27px;
}
.sprite.zoomplus {
  background-position: -368px -92px;
}
.sprite.question {
  width: 14px;
  height: 14px;
  background-position: -9px -241px;
  margin-left:5px ;
}

.q-header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  background-color: $white;
  padding: 0 20px;
  div.desktop {
    a {
      display: flex;
    }

    height: 81px;
    line-height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu_wrapper {
      display: flex;
      gap: 20px;
      align-items: center;

      .menu {
        display: flex;
        gap: 20px;
      }
    }

    button {
      height: 32px;
      padding: 0 27px;
    }
  }
}

//form
.banner {
  .slide_wrapper {
    .slide {
      display: flex;
      flex-direction: column;
      gap: 14px;
      align-items: center;

    }
  }
  .q-carousel {
    height: auto;
  }
  .q-carousel__slide{
    align-content: space-around;
  }


}
.pc_form {
  width: 57%;
  border: 1px solid $hr;
  padding: 27px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 27px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    div {
      display: flex;
      gap: 27px;

      fieldset {
        display: flex;
        gap: 10px;
        padding: 5px 0;
        border-bottom: 1px solid $hr;
        width: 100%;
        flex: 1;

        label {
          max-width: 112px;
          width: 100%;
          // font-size: 16px;
          // line-height: 27px;
          // font-weight: 500;
        }
        input,
        select {
          width: 100%;
          flex: 1;
          border: none;
        }
        input:focus,
        select {
          outline: none;
        }
        select{
          color: #777777;
        }
      }
    }
    .agree{
      flex: 1;
      align-items: center
    }
    textarea{
      padding: 20px;
      // height: 100px;
      border: 1px solid $hr;
      margin-top: 17px;
    }
  }
  .q-btn{
    width: 100%;
    padding: 15px 0;
    background-color: $base;
    font-size: 20px;
    line-height: 27px;
  }
}
.q-tabs__content{
  .tab{
    width: 267px;
    height: 57px;
    color: $font;
    background: $white;
    text-align: left;
    border-bottom: 1px solid $hr;
    margin-bottom: 10px;
    opacity: 1;
    justify-content: start;
    padding: 0 0 0 20PX;
    .q-tab__label{
      font-size: 18px;
    }
    &.active{
      border-radius: 5PX;
      color: $white;
      background: $blue;
    }
  }
}

// footer
footer {
  // box-shadow: 0 0 3px 0 rgb(0 76 146 / 15%);
  padding-bottom: 27px;
  background: $white;
  color: $font;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  div.desktop {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info_wrapper {
      ul.info {
        display: flex;
        gap: 20px;
      }
    }
  }
}

// link and button
button, .q-btn {
  border-radius: 5px;
  cursor: pointer;
  min-height: auto;
}

button.base {
  background-color: $base;
  color: $white;
}
button.blue {
  background-color: $blue;
  color: $white;
}
button.orange {
  background-color: $orange;
  color: $white;
}

// navigation
.q-carousel__control{
  right: 0;
  bottom: 0;
}
.q-carousel__navigation-inner{
  justify-content: end;
  .q-btn{
    margin: 0  0 0 5px;
  }
  .q-btn,
  .q-icon{
    min-height: 10px;
    min-width: 10px;
    font-size:15px;
    padding: 0;
    color: $base;
  }
}

// prev next
.coalition{
  .swiper-button-prev{
    color: #B6B8BD;
    left:0;
  }
  .swiper-button-next{
    color: #B6B8BD;
    right:0;
  }
}
.coalition{
  .swiper-slide{
    display: flex;
    justify-content: center;
  }
}
// flex
.d_flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.aic {
  align-items: center;
}
.ais {
  align-items: flex-start;
}
.aie {
  align-items: flex-end;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.jcsa {
  justify-content: space-around;
}
.jcfe {
  justify-content: flex-end;
}
.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}

